:root{
    --primary-color: #06C167;
    --secondary-color: #1D1D1F;
}


@media (min-width: 576px) {
    header{
        background-color: #F3FCF7;
    }

    nav{
        padding: 2rem 6rem;
    }

    nav div {
        display: none;
    }
    nav ul li a{
        text-decoration: none;
        color: var(--secondary-color);
        font-size: 1rem;
        font-weight: 600;
    }

    nav li:first-child a{
        color: var(--primary-color);
    }

    ul{
        display: flex;
        gap: 2rem;
        list-style: none;
    }

    .hero-sec{
        display: flex;
        gap: 18rem;
        padding: 2rem 6rem;
        text-align: left;
    }

    .hero-sec h1{
        margin-top: 4rem;
    }

    .mb-hero-sec-img{
        display: none;
    }

    .ls-hero-sec-img{
        display: block;
    }

    .hero-sec button{
        padding: 1rem;
        width: fit-content;
    }

    .img3, .img4, .img5{
        display: block;
    }

    .features-sec{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 6rem;
    }

    .sub-features-sec-1{
        display: flex;
        align-items: center;
        gap: 1rem;
        text-align: left;
    }

    .food-img{
        display: none;
    }

    .food-img-ls{
        display: block;
    }

    .our-benefit-sec{
        display: flex;
        text-align: left;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 6rem;
    }

    .our-benefit-sec h3{
        font-size: 3.75rem;
    }

    .ms-Veggie-img{
        display: none;
    }

    .ls-veggie-img{
        display: block;    
    }

    .review-sec button{
        width: 200px;
        border-radius: 5px;
    }

    .reviews-item{
        display: flex;
        gap: 2rem;
        text-align: center;
    }

    .review-sec{
        display: flex;
        justify-content: space-between;
        text-align: left;
        padding: 2rem 6rem;
    }

    .review-sec h3{
        font-size: 3.75rem;
    }

    .variety-of-veggie-foods{
        text-align: left;
        padding: 2rem 6rem;
    }

    .food-images{
        width: fit-content;
    }

    .food-details{
        width: 293px;
        height: 293px;
        box-sizing: border-box;
        padding: 2rem;
    }

    .food-details h2{
        margin-bottom: 1rem;
    }

    .food-details p{
        margin-bottom: 2rem;
    }

    .flex{
        display: flex;
    }

    .row-revers{
        display: flex;
        flex-direction: row-reverse;
    }

    .most-popular-product{
        padding: 2rem 6rem;
    }

    .popular-products-section{
        display: flex;
        gap: 1rem;
    }

    .popular-products{
        border-radius: 10px;
    }

    .veggie-foods{
        padding: 2rem 6rem;
        background-size: 90%;
    }

    .veggie-foods h2{
        font-size: 3.75rem;
    }

    .veggie-foods button{
        width: fit-content;
        padding: 1.2rem 2rem;
        border-radius: 10px;
    }

    .footer-sec{
        display: flex;
        margin-bottom: 2rem;
        text-align: left;
        padding: 2rem 6rem;
        gap: 5rem;
    }

    .footer-list, .footer-bottom{
        margin-top: 0;
    }

    .footer-bottom-input{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .email-input{
        width: 10rem;
        border-radius: 10px;
    }

    .subscribe-btn{
        width: 10rem;
        padding: 0;
        box-sizing: border-box;
        border-radius: 10px;
    }
}