*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

:root{
    --primary-color: #06C167;
    --secondary-color: #1D1D1F;
}

ul{
    display: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1.875rem;
}

nav h3{
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
}

nav div{
    padding: 0.5rem;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.ls-hero-sec-img{
    display: none;
}

.mb-hero-sec-img{
    width: 95%;
}

.hero-sec{
    text-align: center;
    padding: 2rem 1.875rem;
}

.hero-sec h1{
    font-size: 3.1875rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.hero-sec p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

.hero-sec button{
    width: 95%;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
}

.logo-sec{
    padding: 2rem 1.875rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.img3, .img4, .img5{
    display: none;
}

.features-sec{
    padding: 2rem 1.875rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    row-gap: 2rem;
}

.our-benefit-sec{
    text-align: center;
    padding: 2rem 1.875rem;
}

.food-img{
    width: 95%;
}

.food-img-ls{
    display: none;
}

.benefits-sec{
    margin-top: 2rem;
}

.our-benefit-sec h4{
    margin-top: 1rem;
}

.our-benefit-sec h3{
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 500;
}

.benefits{
    text-align: left;
}

.fa-check{
    color: var(--primary-color);
}

.review-sec{
    text-align: center;
    padding: 2rem 1.875rem 5rem 1.875rem;
}

.ms-Veggie-img{
    width: 95%;
}

.review-sec h4{
    margin-top: 2rem;
}

.review-sec h3{
    margin-top: 1rem;
    font-size: 2.2rem;
    font-weight: 500;
}

.reviews{
    margin-top: 2rem;
}

.reviews h2{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.reviews p{
    font-size: 1rem;
    font-weight: 400;
    color: #1D1D1F;
}

.review-sec button{
    margin-top: 2rem;
    padding: 1.5rem;
    width: 95%;
    border: none;
    background-color: var(--primary-color);
    color: white;
}

.ls-veggie-img{
    display: none;
}

.variety-of-veggie-foods{
    text-align: center;
    padding: 2rem 1.875rem;
}

.variety-of-veggie-foods-heading{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.variety-of-veggie-foods-sub-heading{
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

.food-details{
    text-align: left;
    padding: 4rem 3rem;
    border: 2px solid var(--primary-color);
}

.food-images{
    width: 95%;
}

.food-details h2{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.food-details p{
    margin-bottom: 4rem;
}

.food-details button{
    padding: 1rem 1.5rem;
    background-color: #F0EDE2;
    border: none;
    color: var(--primary-color);
}

.most-popular-product{
    text-align: center;
    padding: 2rem;
}

.most-popular-product-heading{
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.most-popular-product-sub-heading{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.popular-products{
    padding: 2rem 0;
    border: 2px solid var(--primary-color);
    margin-top: 1rem;
    width: 100%;
}

.fa-star{
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.price{
    color: #06C167;
    margin: 1rem 0;
}

.popular-products button{
    padding: 0.5rem 1rem;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.veggie-foods{
    background-image:url(./Images/bottom\ bg\ img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem;
    color: #fff;
    text-align: center;
}
    
.veggie-foods button{
    padding: 1rem;
    width: 90%;
    background-color: #06C167;
    color: #fff;
    border: none;
    margin-top: 2rem;
}

footer{
    text-align: center;
    padding: 0.5rem 1rem;
    margin-top: 5rem;
}

.footer-heading{
    font-size: 2rem;
    color: #06C167;
    margin-bottom: 2rem;
}

.footer-details{
    margin-bottom: 2rem;
}

.footer-list{
    margin-top: 3rem;
}

.footer-list h3{
    margin-bottom: 2rem;
}

.footer-list p{
    margin-top: 1rem;
}

.footer-bottom{
    margin-top: 2rem;
}

.footer-bottom h3{
    margin-bottom: 2rem;
}

.footer-bottom-details{
    margin-bottom: 2rem;
}

.footer-bottom-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.email-input{
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 0.5rem;
    background-color: #F0F1EC;
    border: none;
    color: #06C167;
}

.subscribe-btn{
    padding: 1rem 0;
    border: none;
    background-color: #06C167;
    color: #fff;
}