*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

:root{
    --primary-color: #06C167;
    --secondary-color: #1D1D1F;
}

ul{
    display: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1.875rem;
}

nav h3{
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
}

nav div{
    padding: 0.5rem;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.ls-hero-sec-img{
    display: none;
}

.mb-hero-sec-img{
    width: 95%;
}

.hero-sec{
    text-align: center;
    padding: 2rem 1.875rem;
}

.hero-sec h1{
    font-size: 3.1875rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.hero-sec p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

.hero-sec button{
    width: 95%;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
}

.logo-sec{
    padding: 2rem 1.875rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.img3, .img4, .img5{
    display: none;
}

.features-sec{
    padding: 2rem 1.875rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    row-gap: 2rem;
}



